doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title DigitalMe | #{title}
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/icon.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/stylesheets/social-share-kit.css')
  script(type="text/javascript" src="/js/social-share-kit.js")

  body
    include navbar
    block content
    .main.container
      .row
        .col-md-8.col-md-offset-2
          h3.display-4.m-b-2 NewsFeed
      .row
      .col-lg-2.col-sm-12.left
        div(class="btn-group-vertical pull-right")
          a(href="/newsfeed" class="btn btn-light") All
          a(href="/newsfeed/Chronicle" class="btn btn-light") Chronicles
          a(href="/newsfeed/Idea" class="btn btn-light") Ideas
          a(href="/newsfeed/Thought" class="btn btn-light") Thoughts
          a(href="/newsfeed/Recipe" class="btn btn-light") Recipe
          a(href="/newsfeed/SportsRegistry" class="btn btn-light") Sport Registries
          a(href="/newsfeed/AcademicWork" class="btn btn-light") Academic Works
          a(href="/newsfeed/AcademicRegistry" class="btn btn-light") Academic Registries
          a(href="/newsfeed/Event" class="btn btn-light") Events
          a(href="/newsfeed/Photo" class="btn btn-light") Photos
          a(href="/newsfeed/Appointment" class="btn btn-light") Appointments
          a(href="/newsfeed/Wedding" class="btn btn-light") Weddings
          a(href="/newsfeed/Birth" class="btn btn-light") Births
      .col-lg-9.col-sm-12.right
        each val in posts
          if(val!=''&& (filter == 'all' || filter == val.type))
            .social-feed-box
              .social-avatar
                p
                  span Title: #{val.title} 
                a.pull-left(href="")
                  img(alt="image" src='../uploads/' + val.ident + '.jpg')
                .media-body
                  a(href=("/profile/public/")+val.ident)
                    | #{val.author}
                  small.text-muted #{val.pubdate}
              .social-body
                p Type: #{val.type}
                p Location: #{val.location}
                p Description: #{val.description}
                if (val.date) 
                  p Date: #{val.date}
                case val.type
                  when 'Chronicle'  
                    p Theme: #{val.theme}
                    p Text: #{val.text}
                  when 'Recipe'
                    p Ingredients: #{val.ingredients}
                    p Instructions: #{val.instructions}
                  when 'Wedding'
                    p Couple: #{val.couple}
                    p Guest List: #{val.guests}
                    p Menu: #{val.menu}
                  when 'Birth'
                    p Name: #{val.name}
                    p Gender: #{val.gender}
                    p Parents: #{val.parents}
                  when 'Idea'
                    p Keywords: #{val.keywords}
                    p Priority: #{val.priority}
                    p Text: #{val.text}
                  when 'Thought'
                    p Keywords: #{val.keywords}
                    p Text: #{val.text}
                  when 'SportsRegistry'
                    p Sport: #{val.sport}
                    p Duration: #{val.duration}
                    p Participants: #{val.participants}
                    p Results: #{val.results}
                  when 'Photo'
                    p File: #{val.file}
                    p People: #{val.people}
                  when 'AcademicRegistry'
                    p Duration: #{val.duration}
                    p Credits: #{val.credits}
                  when 'AcademicWork'
                    p Course: #{val.course}
                    p Professor: #{val.professor}
                    p File: #{val.file}
                    p Classification: #{val.classification}
                  when 'Event'
                    p Files: #{val.files}
                    p Guests: #{val.guests}
                    p Hosts: #{val.hosts}
                    p Event Type: #{val.eventType}
                    p Text: #{val.text}
                  default: p Nao sei
              .social-footer
                .ssk-group
                  a.ssk.ssk-facebook(href='')
                  a.ssk.ssk-twitter(href='')
                  a.ssk.ssk-google-plus(href='')
                  a.ssk.ssk-linkedin(href='')
                  a.ssk.ssk-reddit2(href='')
                  a.ssk.ssk-email(href='')
                  a.ssk.ssk-github(href='')
              //-   .social-comment
              //-     a.pull-left(href="")
              //-       img(alt="image" src="http://webapplayers.com/inspinia_admin-v2.5/img/a1.jpg")
              //-     .media-body
              //-       a(href="#")
              //-         | Andrew Williams
              //-       |                     Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
              //-       br
              //-       a.small(href="#")
              //-         i.fa.fa-thumbs-up
              //-         |  26 Like this!
              //-       |  -
              //-       small.text-muted 12.06.2014
              //-   .social-comment
              //-     a.pull-left(href="")
              //-       img(alt="image" src="http://webapplayers.com/inspinia_admin-v2.5/img/a2.jpg")
              //-     .media-body
              //-       a(href="#")
              //-         | Andrew Williams
              //-       |                     Making this the first true generator on the Internet. It uses a dictionary of.
              //-       br
              //-       a.small(href="#")
              //-         i.fa.fa-thumbs-up
              //-         |  11 Like this!
              //-       |  -
              //-       small.text-muted 10.07.2014
              //-   .social-comment
              //-     a.pull-left(href="")
              //-       img(alt="image" src="http://webapplayers.com/inspinia_admin-v2.5/img/a3.jpg")
              //-     .media-body
              //-       textarea.form-control(placeholder="Write comment...")
    p.foot.text-xs-center DigitalMe - PRI 2017/2018
  script(type='text/javascript').
    SocialShareKit.init();
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', crossorigin='anonymous')
