extends layout

block content
  .main.container.row
    .col-md-6.col-md-offset-3
      h1.display-4.m-b-2 #{name}
      form(method='POST' action='/posts/processnewpost')
        each val in reqs
            if (val.text!='Type')
              if (val.text!='Privacy')
                div.form-group
                    label(for=val.text) #{val.text}:
                    if (!val.obligatory)
                      input#name.form-control(type=val.type, name=val.text)
                    else
                      input#name.form-control(type=val.type, name=val.text required)
              else
                label(for='privacy') Privacy:
                  select(type="text", class="form-control" name="Privacy")
                    option(value="private") Private
                    option(value="public") Public
            else
              div.form-group
                label(for=val.text) #{val.text}:
                if (!val.obligatory)
                  input#name.form-control(type=val.type, name=val.text value=name readonly)
                else
                  input#name.form-control(type=val.type, name=val.text value=name readonly required)
        each val in extras
          div.form-group
            if val.text=='Priority'
              label(for='priority') Priority:
                select(type="text", class="form-control" name="Priority")
                  option(value="low") Low
                  option(value="medium") Medium
                  option(value="high") High
            else if val.text=='Gender'
              label(for='gender') Gender:
                select(type="text", class="form-control" name="Gender")
                  option(value="Male") Male
                  option(value="Female") Female
            else
              label(for=val.text) #{val.text}:
              if (!val.obligatory)
                input#name.form-control(type=val.type, name=val.text)
              else
                input#name.form-control(type=val.type, name=val.text required)
        div(class='btn-group')
          a(class='btn btn-primary disabled')
            i(class='fa fa-check-square-o' style='width:24px; height:24px')
          button.btn.btn-primary(type='submit' style='width:23em;') Confirm